<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.portfolioapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PortfolioApp">
        <activity
            android:name=".Activities.NotificationPage"
            android:theme="@style/Theme.PortfolioApp.NoActionBar" />
        <activity
            android:name=".Activities.EditProject"
            android:theme="@style/Theme.PortfolioApp.NoActionBar" />
        <activity
            android:name=".Activities.ApplicantsList"
            android:theme="@style/Theme.PortfolioApp.NoActionBar" />
        <activity
            android:name=".Activities.ProjectInfo"
            android:theme="@style/Theme.PortfolioApp.NoActionBar" />
        <activity
            android:name=".Activities.NewProject"
            android:theme="@style/Theme.PortfolioApp.NoActionBar" />
        <activity
            android:name=".Activities.FaqPage"
            android:theme="@style/Theme.PortfolioApp.NoActionBar" />
        <activity
            android:name=".Activities.EditProfile"
            android:theme="@style/Theme.PortfolioApp.NoActionBar" />
        <activity
            android:name=".Activities.ProfilePage"
            android:theme="@style/Theme.PortfolioApp.NoActionBar" />
        <activity
            android:name=".Activities.HomePage"
            android:theme="@style/Theme.PortfolioApp.NoActionBar" />
        <activity android:name=".Activities.RegistrationPage" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>